body {
    background-image: url('GoldTartarGate.png');
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(0,2,2,1);
}
.container {
    color: white;
    text-align: center;
    background-image: url('GoldTartarGate.png');
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 { color: white; }
a, button {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkgreen;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
a:hover, button:hover { background-color: darkslateblue; }
.question { margin: 20px 0; }
.question p { font-weight: bold; }
label { display: block; margin: 5px 0; }
